{% extends 'base.html' %}
{% load entrytags %}
{% block content %}
{%include 'navbar.html'%}
<table class="table table-striped table-hover" style = "width: 100%">
    <th> Name </th> 
    <th> Type </th>
    <th> Last Chapter Read </th>
    {% for entry in book_entries %}
    <tr>
        {% get_book entry as book %}
        <td>
            <button class="btn btn-link" onclick ="showEntry({{entry.pk}})" data-bs-toggle="modal" data-bs-target="#entryModal"  role="button">{{book.name}}</button>
        </td>
        <td>
            {{book.type}}
        </td>
        <td>
            {{ entry.last_chapter_read }}
        </td>
    {% endfor %}
</table>
<div class="modal fade" id="entryModal" tabindex="-1" aria-labelledby="entryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form" onsubmit="return false;">
                {% csrf_token %}
                <div id="bookView">
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal" >Add Entry</button>
            </div>
        </div>
    </div>
</div>
<script>
    async function getEntry(pk) {
        const link = "get-entry-by-id/"+pk
        return fetch(link).then((response) => {return response.json();})
    }
    async function showEntry(pk) {
        document.getElementById("bookView").innerHTML = ""
        const entry = await getEntry(pk)
        const data = JSON.parse(entry.data)
        let htmlString = `<div class="modal-header">
            <h1 class="modal-title fs-5" id="entryModalLabel">${data.name}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                    <div class="mb-3">
                        <label for="status" class="col-form-label">Status:</label>
                        <select class="form-control" id="status" name="status" value = "${data.status}">
                            <option value="P">Plan to Read</option>
                            <option value="O">On Hold</option>
                            <option value="D">Dropped</option>
                            <option value="F">Finished</option>
                            <option value="R">Reading</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="last_chapter_read" class="col-form-label">Last Chapter Read:</label>
                        <input type="number" class="form-control" id="last_chapter_read" name="last_chapter_read" value = "${data.last_chapter_read}"></input>
                    </div>
                    <div class="mb-3">
                        <label for="review" class="col-form-label">Review:</label>
                        <textarea class="form-control" id="review" name="review" >${data.review}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="rating" class="col-form-label">Rating:</label>
                        <input type="number" class="form-control" id="rating" name="rating" value = "${data.rating}"></input>
                    </div>
                </div>`
        document.getElementById("bookView").innerHTML = htmlString
            }
</script>
{% endblock content %} 