{% extends 'base.html' %}
{% block meta %}

{% load static %}
{% load entrytags %}

{% endblock meta %}
{% block content %}

{% include 'navbar.html' %}
    <body style="background: linear-gradient(to right, rgba(0,186,140,1), rgba(139,233,255,1)); height:100%;">
        <br>
        <div class="pos-f-t">
            <nav class="navbar">
                <h1 class="text-white mx-3 justify-content-start" style="text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25)">{{ owner }}'s Collection</h1>
                <button class="navbar-toggler border border-light mx-2" type="button" data-toggle="collapse" data-target="#toggleFavoriteBooks" aria-controls="toggleFavoriteBooks" aria-expanded="false">
                    <p class="text-white my-2" style="text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25)">Click here for {{owner}}'s favorite book!</p>
                </button>
            </nav>
            <div class="collapse" id="toggleFavoriteBooks">
              <div class="p-4">
                <h5 class="text-white h4">Favorite Book:</h5>
                <span class="text-muted">Book goes here</span>
              </div>
            </div>
        </div>
        <br>    
        <table class="table table-striped table-bordered table-hover" style="width: 100%; border:transparent;   border-collapse: separate; border-spacing: 0 15px;">
            <tbody id="entryTable">
                {% for entry in book_entries %}
                    <tr id="row_{{ entry.id }}">
                        {% get_book entry as book %}
                        <td style="background: linear-gradient(to bottom, rgba(0,186,140,1), rgba(139,233,255,1));">
                            <img src="{{book.imagelink}}" style="max-width: 100px; vertical-align: center; margin-right: 10px; text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25)">

                            <span style="font-size: 32px; width: 140px; height: 40px; text-shadow: 7px 7px 6px rgba(0,0,0,0.6);; top: 339px; left: 178px; color: white; max-width:75px;
                            ">
                                {{ book.name }}
                            </span>
                            
                            by {{book.author}}
                        </td>
        
                        <td  id = "status_{{entry.id}}"style="text-align: center; max-width: 50px; background: linear-gradient(to bottom, rgba(0,186,140,1), rgba(139,233,255,1)); vertical-align: middle;">
                        {% if entry.status == "P" %}
                            Plan to Read
                        {% elif entry.status == "O" %}
                            On Hold
                        {% elif entry.status == "D" %}
                            Dropped
                        {% elif entry.status == "F" %}
                            Finished
                        {% elif entry.status == "R" %}
                            Reading Chapter {{entry.last_chapter_read}}
                        {% endif %}
                        </td>           
        
                        <td id = "rating_{{entry.pk}}" style="text-align: center; max-width: 50px; background: linear-gradient(to bottom, rgba(0,186,140,1), rgba(139,233,255,1)); vertical-align: middle;">
                            {% if entry.rating == None %}
                                -
                            {% else %}
                                {{ entry.rating }}/10
                            {% endif %}
                        </td>
                        
        
                        <td style="text-align: center; max-width: 40px; background: linear-gradient(to bottom, rgba(0,186,140,1), rgba(139,233,255,1)); vertical-align: middle;">
                            <button class="btn" style="background-color: #FF4FCE; color: white;" onclick="showEntry({{ entry.pk }})" data-bs-toggle="modal" data-bs-target="#entryModal" role="button">EDIT</button>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="container d-flex justify-content-center">
            <a href="{% url 'main:show_main' %}">
                    {% if is_owner %}
                    <div class="col">
                        <button type="button" class="btn btn-success px-5 mx-2">Add From Catalog</button>
                    </div>
                    {% else %}
                    <div class="col">
                        <button type="button" class="btn btn-success px-5 mx-2">Catalog</button>
                    </div>
                    {% endif %}
            </a>

            {% if is_owner %}
            <a>
                <div class="col">
                    <button type="button" class="btn btn-success px-5 mx-2" data-bs-toggle="modal" data-bs-target="#addEntryModal">Add Custom Entry</button>
                </div>
            </a>
            {% endif %}

            {% if is_owner %}
            {% else %}
                <a href="{% url 'main:show_entry' %}">
                    <div class="col">
                        <button class="btn btn-success px-5 mx-2" aria-current="page" type="submit">Your Collection</button>
                    </div>
                </a>
            {% endif %}
        </div>
        
        
        <div class="modal fade" id="entryModal" tabindex="-1" aria-labelledby="entryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div id="bookView"></div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            {% if user.is_staff and is_owner is False %}
                                <div id="DeleteSpace"></div>
                            {% endif %}
                        {% if is_owner  %}
                            <div id="DeleteSpace"></div>
                            <button type="button" class="btn btn-primary" id="button_edit" data-bs-dismiss="modal">Edit Entry</button>
                        {% else %}
                        <td>
                            <button class="btn btn-warning"  data-bs-dismiss="modal" onclick = "showCopy()">Add book to Your collection</button>
                        </td>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="copyModal" tabindex="-1" aria-labelledby="copyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="copyModalLabel">Add New Item</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form-4" onsubmit="return false;">
                            {% csrf_token %}
                            <input type = "hidden" id = "copypk" name = "pk">
                            <div class="mb-3">
                                <label for="copyname" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="copyname" name="name" readonly></input>
                            </div>
                            <div class="mb-3">
                                <label for="copystatus" class="col-form-label">Status:</label>
                                <select class="form-control" id="copystatus" name="status">
                                    <option value="P">Plan to Read</option>
                                    <option value="O">On Hold</option>
                                    <option value="D">Dropped</option>
                                    <option value="F">Finished</option>
                                    <option value="R">Reading</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="copylast_chapter_read" class="col-form-label">Last Chapter Read:</label>
                                <input type="number" class="form-control" id="copylast_chapter_read" name="last_chapter_read" value = 0></input>
                            </div>
                            <div class="mb-3">
                                <label for="copynotes" class="col-form-label">Notes:</label>
                                <textarea class="form-control" id="copynotes" name="notes"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="copyreview" class="col-form-label">Review:</label>
                                <textarea class="form-control" id="copyreview" name="review"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="copyrating" class="col-form-label">Rating:</label>
                                <input type="number" class="form-control" id="copyrating" name="rating" value = 0></input>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_copy" data-bs-dismiss="modal" onclick= "copyEntry()">Add Entry</button>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Add Entry Modal -->
        <div class="modal fade" id="addEntryModal" tabindex="-1" aria-labelledby="addEntryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addEntryModalLabel">Add New Item</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form-2" onsubmit="return false;">
                            {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                                        <h3>Book Details:</h3>
                                        <hr>
                                        <div class="mb-3">
                                            <label for="name" class="col-form-label">Name<span style = 'color:red'>(required*)</span>:</label>
                                            <input type="text" class="form-control" id="name" name="name"></input>
                                        </div>
                                        <div class="mb-3">
                                            <label for="author" class="col-form-label">Author:</label>
                                            <input type="text" class="form-control" id="author" name="author"></input>
                                        </div>
                                        <div class="mb-3">
                                            <label for="type" class="col-form-label">Type:</label>
                                            <select class="form-control" id="type" name="type">
                                                <option value="Manga">Manga</option>
                                                <option value="Manhwa">Manhwa</option>
                                                <option value="Novel">Novel</option>
                                                <option value="Light Novel">Light Novel</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="imagelink" class="col-form-label">Link for Image:</label>
                                            <input type="text" class="form-control" id="imagelink" name="imagelink"></input>
                                        </div>
                                        <div class="mb-3">
                                            <label for="description" class="col-form-label">Description:</label>
                                            <textarea class="form-control" id="description" name="description"></textarea>
                                        </div>
                            <div class="mb-3">
                                <label for="tag" class="col-form-label">Tags:</label>
                                <div id = "tag_group"> 
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-light" id = "add_tag">Add Tag</button>
                                <button type="button" class="btn btn-danger" id = "remove_tag">Remove Tag</button>
                            </div>
                                        <small>*Note that Book details cannot be changed</small>
                        </div>
                        <div class="col-lg">
                                        <h3>Entry Details:</h3>
                                        <hr>
                                        <div class="mb-3">
                                            <label for="status" class="col-form-label">Status:</label>
                                            <select class="form-control" id="status" name="status">
                                                <option value="P">Plan to Read</option>
                                                <option value="O">On Hold</option>
                                                <option value="D">Dropped</option>
                                                <option value="F">Finished</option>
                                                <option value="R">Reading</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="last_chapter_read" class="col-form-label">Last Chapter Read:</label>
                                            <input type="number" class="form-control" id="last_chapter_read" name="last_chapter_read"></input>
                                        </div>
                                        <div class="mb-3">
                                            <label for="review" class="col-form-label">Review:</label>
                                            <textarea class="form-control" id="review" name="review"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="rating" class="col-form-label">Rating:</label>
                                            <input type="number" class="form-control" id="rating" name="rating"></input>
                            </div>
                        </div>
                    </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Entry</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        async function getEntry(pk) {
            const link = "/get-entry-by-id/" + pk;
            return fetch(link).then((response) => {
                return response.json();
            });
        }
    
        async function showEntry(pk) {
            document.getElementById("bookView").innerHTML = "";
            const entry = await getEntry(pk);
            const data = JSON.parse(entry.data);
            let htmlString = `
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="entryModalLabel">${data.name}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal_body" value="${data.pk}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg">
                                <img src="${data.imagelink}">
                                <p>${data.description}</p>
                            </div>
                        <div class="col-lg">
                            <div class="mb-3">
                                <label for="show_author" class="col-label">Author:</label>
                                <p id ="show_author" name = "show_author">${data.author}</p>
                                <label for="show_type" class="col-label">Type:</label>
                                <p id ="show_type" name = "show_type">${data.type}</p>
                                <label for="show_last_read" class="col-label">Last Read:</label>
                                <p id ="show_last_read" name = "show_last_read">${data.last_read_date}</p>
                                <label for="show_status" class="col-form-label">Status:</label>
                                <select class="form-control" id="show_status" name="status" value = "${data.status}"`
                                if ({{not_owner}}) {
                                    htmlString += ` disabled`
                                }
                                htmlString +=`>
                                    <option value="P" ${data.status === 'P' ? 'selected' : ''}>Plan to Read</option>
                                    <option value="O" ${data.status === 'O' ? 'selected' : ''} >On Hold</option>
                                    <option value="D" ${data.status === 'D' ? 'selected' : ''}>Dropped</option>
                                    <option value="F" ${data.status === 'F' ? 'selected' : ''}>Finished</option>
                                    <option value="R" ${data.status === 'R' ? 'selected' : ''}>Reading</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="show_last_chapter_read" class="col-form-label">Last Chapter Read:</label>
                                <input type="number" class="form-control" id="show_last_chapter_read" name="last_chapter_read" value = "${data.last_chapter_read}"`
                                if ({{not_owner}}) {
                                    htmlString += ` readonly`
                                }
                                htmlString +=`></input>
                            </div>
                            <div class="mb-3">
                                <label for="notes" class="col-form-label">Notes:</label>
                                <textarea class="form-control" id="notes" name="notes" `
                                if ({{not_owner}}) {
                                    htmlString += ` readonly`
                                }
                                htmlString +=`>${data.notes}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="review" class="col-form-label">Review:</label>
                                <textarea class="form-control" id="review" name="review" `
                                if ({{not_owner}}) {
                                    htmlString += ` readonly`
                                }
                                htmlString +=`>${data.review}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="show_rating" class="col-form-label">Rating:</label>
                                <input type="number" class="form-control" id="show_rating" name="rating" value = "${data.rating}"`
                                if ({{not_owner}}) {
                                    htmlString += ` readonly`
                                }
                                htmlString +=`></input>
                            </div>
                    <div class="mb-3">
                        <label for="show_tags" class="col-form-label">Tags:</label>
                        <div id = "show_tags">`
                        data.taggits.forEach((tag) => {htmlString+= `<span>${tag} </span>` }) 
                        htmlString +=`
                    </div>
                        </div>
                    </div>
                </div>`;
            document.getElementById("bookView").innerHTML = htmlString;
            document.getElementById("DeleteSpace").innerHTML = `<button type="button" class="btn btn-danger" id="button_delete" data-bs-dismiss="modal" onclick="deleteEntry(${data.pk})">Delete Entry</button>`;
        }
    
        async function editTable(pk) {
            let rating_value = document.getElementById("show_rating").value;
            if (rating_value == ""){ rating_value = "-"}
            else { rating_value = ""+rating_value+"/10"}
            const rating = "rating_" + pk;
            document.getElementById(rating).innerHTML = rating_value;

            let status_value = document.getElementById("show_status").value
            if (status_value == "D"){ status_value = "Dropped"}
            else if (status_value == "P"){ status_value = "Plan to Read"}
            else if (status_value == "O"){ status_value = "On Hold"}
            else if (status_value == "F"){ status_value = "Finished"}
            else { status_value = "Reading"}
            const status = "status_" + pk;
            document.getElementById(status).innerHTML = status_value;
        }
    
        function editEntry() {
            const pk = document.getElementById("modal_body").getAttribute("value");
            const link = "/edit-entry/" + pk;
            fetch(link, {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(editTable(pk));
    
            document.getElementById("form").reset();
            return false;
        }
        document.getElementById("button_edit").onclick = editEntry;
        
        function saveEntry() {
            fetch("{% url 'main:create_custom_entry' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form-2'))
            })
            .then((response) => {
                return response.json();
            })
            .then(entry => {
                htmlString = `
                <tr id="row_${entry.id}">
                    <td style="background: linear-gradient(to bottom, rgba(0,186,140,1), rgba(139,233,255,1));">
                        <img src="${entry.imagelink}" style="max-width: 100px; vertical-align: center; margin-right: 10px; text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25)">

                        <span style="font-size: 32px; width: 140px; height: 40px; text-shadow: 7px 7px 6px rgba(0,0,0,0.6);; top: 339px; left: 178px; color: white; max-width:75px;
                        ">
                            ${ entry.name }
                        </span>
                        
                        by ${entry.author}
                    </td>
    
                    <td id = "status_${entry.id}" style="text-align: center; max-width: 50px; background: linear-gradient(to bottom, rgba(0,186,140,1), rgba(139,233,255,1)); vertical-align: middle;">
                    ${entry.status}
                    </td>           
    
                    <td id = "rating_${entry.id}" style="text-align: center; max-width: 50px; background: linear-gradient(to bottom, rgba(0,186,140,1), rgba(139,233,255,1)); vertical-align: middle;">
                        ${entry.rating}
                    </td>
                    
    
                    <td style="text-align: center; max-width: 40px; background: linear-gradient(to bottom, rgba(0,186,140,1), rgba(139,233,255,1)); vertical-align: middle;">
                        <button class="btn" style="background-color: #FF4FCE; color: white;" onclick="showEntry(${ entry.id })" data-bs-toggle="modal" data-bs-target="#entryModal" role="button">EDIT</button>
                    </td> 
                </tr>
                `;
        
                document.getElementById("entryTable").innerHTML += htmlString;
                document.getElementById("form-2").reset();
            });
        }
        document.getElementById("button_add").onclick = saveEntry;
    
        function deleteEntry(id) {
            fetch("/delete-entry/" + id, {
                method: "POST"
            });
    
            const row = "row_" + id;
            document.getElementById(row).remove();
            document.getElementById("form").reset();
            return false;
        }
    
        var count = 1;
    
        function addTag() {
            const element = document.createElement("select");
            const stuff = `{% for tag in tags %} <option value="{{tag}}">{{tag}}</option> {% endfor %}`;
            element.setAttribute("class", "form-control");
            element.setAttribute("name", "tag");
            element.innerHTML = stuff;
            document.getElementById("tag_group").appendChild(element);
            count += 1;
        }
        document.getElementById("add_tag").onclick = addTag;
    
        function removeTag() {
            document.getElementById("tag_group").lastElementChild.remove();
        }
        document.getElementById("remove_tag").onclick = removeTag;
    var count = 1
    function addTag(){
        const element = document.createElement("select");
        const stuff = `{% for tag in tags %} <option value="{{tag}}">{{tag}}</option> {% endfor %}`;
        element.setAttribute("class", "form-control")
        element.setAttribute("name", "tag")
        element.innerHTML = stuff
        document.getElementById("tag_group").appendChild(element);
        count +=1;
    }
    document.getElementById("add_tag").onclick = addTag

    function removeTag(){
        document.getElementById("tag_group").lastElementChild.remove();
    }
    document.getElementById("remove_tag").onclick = removeTag

    function showCopy() {
        const pk = document.getElementById("modal_body").getAttribute("value")
        document.getElementById("copypk").value = pk
        const name = document.getElementById("entryModalLabel").textContent
        document.getElementById("copyname").value = name
        const copyModal = new bootstrap.Modal(document.getElementById("copyModal")); 
        copyModal.toggle();
    }

    function copyEntry() {
        fetch("{% url 'main:copy_entry' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form-4'))
        })

        document.getElementById("form-4").reset()
        return false
    }


        </script>   

    {% endblock content %} 

