{% extends 'base.html' %}
{% block content %}
{%include 'navbar.html'%}
<div class="px-4">
    <h1 class="pb-5">Welcome, {{name}}</h1>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-5 gy-3">
                {% for book in book %}
                    <div class="col mx-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.name }}</h5>
                                {% load static %}
                                <div class="ratio ratio-1x1">
                                    <img src="{{ book.imagelink }}">
                                </div>
                                <div class="row align-items-start">
                                    <div class="col">
                                        <p class="card-text">{{ book.type }}</p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text">{{ book.author }}</p>
                                    </div>
                                    <div class="col">
                                        <button onclick = "changeBook('{{book.name}}')" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add to List</button>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text"> {{ book.description }} </p>
                                    <hr/>
                                    {% for tag in book.tags.all %}
                                        {{ tag }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        

    {% if book.has_previous %}
	<li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>

	<li class="page-item"><a class="page-link" href="?page={{ book.previous_page_number }}">Previous</a></li>
	
{% endif %}

<li class="page-item disabled"><a href="#" class="page-link">Page {{ book.number }} of {{ book.paginator.num_pages }}</a></li>

{% if book.has_next %}
	<li class="page-item"><a class="page-link" href="?page={{ book.next_page_number }}">Next</a></li>

	<li class="page-item"><a class="page-link" href="?page={{ book.paginator.num_pages }}">Last &raquo</a></li>

{% endif %}

</div>
<script>
    function changeBook(title){
        document.getElementById("name").value = title
    }
    function addEntry() {
        fetch("{% url 'main:create_catalog_entry' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        })

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addEntry
</script>
    
{% endblock content %}