{% extends 'base.html' %}
{% block meta %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
{% endblock meta %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ECECEC;"> 
    <div class="container-fluid">
      {% load static %}
      <a class="navbar-brand" href="{% url 'main:show_main' %}"><img src="{% static 'logos.png' %}" alt="Logo" width="200" height="70" 
        style="width: 100%;
        height: 65px;
        border-radius:5%;
        object-fit: cover;
        box-shadow: 0px 0px 3px #5f5f5f,
            0px 0px 0px 5px #ecf0f3,
            8px 8px 15px #a7aaa7,
            -8px -8px 15px #fff;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <h4 class="pt-2" id="welcomeText">Welcome, {{name}}</h4>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          {% if tags %}
        <div class="dropdown  my-2 mx-2">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter by tags
          </button>
          <div class="dropdown-menu pre-scrollable" aria-labelledby="dropdownTagList">
            {% for tag in tags %}
              <a class="dropdown-item" href="/get-books/{{tag}}"> {{ tag }}</a>
              {% endfor %}
          </div>
        </div>
        {% endif %}
        {% if types %}
        <div class="dropdown my-2">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownTypeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter by type
          </button>
          <div class="dropdown-menu pre-scrollable" aria-labelledby="dropdownTypeList">
            {% for type in types %}
              <a class="dropdown-item" href="/get-books-type/{{type}}"> {{ type }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        <div class="dropdown my-2 mx-2">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownCollection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Collection
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'main:show_main' %}">Catalog</a></li>
            <li><a class="dropdown-item" href="{% url 'main:show_entry' %}">Your Collection</a></li>
            <li><a class="dropdown-item" href="{% url 'main:show_other_users' %}">Other Users</a></li>
            <li><a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#tagModal">Post Tag Suggestion</a></li>
            <li><a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#bookModal">Post Book Suggestion</a></li>
          </ul>
        </div>
        <form class="d-flex my-2" method="GET" action="{% url 'main:search-title' %}">
          <input class="form-control" type="search" placeholder="Search Titles" aria-label="Search" name="searched" value="{{ searched }}"/>
          <button class="btn btn-outline-dark mx-2" type="submit">Search</button>
        </form>
          <a href="{% url 'main:logout' %}">
            <button type="button" class="btn btn-outline-danger my-2">
              Logout
          </button>
          </a>
        </form>
      </div>
    </div>
  </nav>

  <!--Add Tag Modal-->
  <div class="modal fade" id="tagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tagModalLabel">Post Tag Suggestion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="tagForm" onsubmit="return false;">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="tag" class="col-form-label">Tag Name:</label>
                  <textarea class="form-control" id="tag" name="tag"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_addTag" data-bs-dismiss="modal" >Post Suggestion</button>
            </div>
        </div>
    </div>
  </div>

  <div class="modal fade" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="bookModalLabel">Post Book Suggestion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="bookForm" onsubmit="return false;">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="bookName" class="col-form-label">Name<span style = 'color:red'>(required*)</span>:</label>
                  <input type="text" class="form-control" id="bookName" name="name"></input>
                </div>
                <div class="mb-3">
                    <label for="bookAuthor" class="col-form-label">Author:</label>
                    <input type="text" class="form-control" id="bookAuthor" name="author"></input>
                </div>
                <div class="mb-3">
                    <label for="bookType" class="col-form-label">Type:</label>
                    <select class="form-control" id="bookType" name="type">
                        <option value="Manga">Manga</option>
                        <option value="Manhwa">Manhwa</option>
                        <option value="Novel">Novel</option>
                        <option value="Light Novel">Light Novel</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="bookImageLink" class="col-form-label">Link for Image:</label>
                    <input type="text" class="form-control" id="bookImageLink" name="imagelink"></input>
                </div>
                <div class="mb-3">
                    <label for="bookDescription" class="col-form-label">Description:</label>
                    <textarea class="form-control" id="bookDescription" name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="book_tag" class="col-form-label">Tags:</label>
                    <div id = "book_tag_group"> 
                    </div>
                </div>
                <div class="mb-3">
                  <button type="button" class="btn btn-light" id = "book_add_tag">Add Tag</button>
                  <button type="button" class="btn btn-danger" id = "book_remove_tag">Remove Tag</button>
                </div>
                <small>*Note that Book details cannot be changed</small>
              </div>
              </form>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_addBook" data-bs-dismiss="modal" >Post Suggestion</button>
            </div>
            </div>
        </div>
    </div>
  </div>

<script>
  function refreshItems() {

  }

  function refreshBooks() {

  }
  function addPost() {
    fetch("{% url 'main:create_post' %}", {
      method:"POST",
      body: new FormData(document.querySelector('#tagForm'))
    }).then(refreshItems)
    document.getElementById("tagForm").reset()
    return false
    }
    document.getElementById("button_addTag").onclick = addPost

  var count = 1
  function bookAddTag(){
      const element = document.createElement("select");
      const stuff = `{% for tag in taggits %} <option value="{{tag}}">{{tag}}</option> {% endfor %}`;
      element.setAttribute("class", "form-control")
      element.setAttribute("name", "book_tag")
      element.innerHTML = stuff
      document.getElementById("book_tag_group").appendChild(element);
      count +=1;
  }
  document.getElementById("book_add_tag").onclick = bookAddTag

  function bookRemoveTag(){
      document.getElementById("book_tag_group").lastElementChild.remove();
  }
  document.getElementById("book_remove_tag").onclick = bookRemoveTag

  function addBookPost() {
    fetch("{% url 'main:create_book_post' %}", {
      method:"POST",
      body: new FormData(document.querySelector('#bookForm'))
    }).then(refreshBooks)
    document.getElementById("bookForm").reset()
    return false
    }
    document.getElementById("button_addBook").onclick = addBookPost
    
</script>
  
{% endblock content %}