{% extends 'base.html' %}
{% block meta %}
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00CC99;"> 
    <div class="container-fluid">
      {% load static %}
      <a class="navbar-brand" href="{% url 'main:show_main' %}"><img src="{% static 'logos.png' %}" alt="Logo" width="160" height="70" class="rounded border border-info"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <h3 class="pt-2">Welcome, {{name}}</h3>
          </li>
        </ul>
        <a href="{% url 'main:show_entry' %}">
          <button class="btn btn-outline-primary px-5 mx-2" aria-current="page" type="submit">Your Collection</button>
        </a>
        <form class="d-flex" method="POST" action="{% url 'main:search-title' %}">
          {% csrf_token %}
          <h5><strong>{{ last_login }}</strong></h5>
          <input class="form-control me-2" type="search" placeholder="Search Titles" aria-label="Search" name="searched" value="{{ searched }}">
          <button class="btn btn-outline-dark mx-2" type="submit">Search</button>
        </form>
          <a href="{% url 'main:logout' %}">
            <button type="button" class="btn btn-outline-danger">
              Logout
          </button>
          </a>
        </form>
      </div>
    </div>
  </nav>
{% endblock content %}