{% extends 'base.html' %}
{% block meta %}
{% load static %}
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
{% endblock meta %}

{% block content %}
<div class="login">
    <div class="square square-lg"></div>
    <div class="wrapper my-5">
        <div class="logo">
            <img src="{% static 'logos.png' %}" alt="logo">
        </div>
        <div class="text-center mt-4 name">
            M  I  D  O  K  U
        </div>
        <form method="POST" action="{% url 'main:register'%}" class="p-3 mt-3">
            {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user">
                    <span class="tt" data-bs-placement="left" title="Required: ≤ 150 characters, use only letters, digits, @/./+/-/_.">
                    <i class="bi bi-question-diamond-fill"></i>
                    </span>
                </span>
                <input type="text" name="username" id="userName" placeholder="Username" class="far fa-user">
            </div>
            
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key">
                    <span class="tt" data-bs-placement="left" title="Ensure your password is not too similar to your personal info, has at least 8 characters, avoids common choices, and isn't purely numeric.">
                    <i class="bi bi-question-diamond-fill"></i>
                    </span>
                </span>
                <input type="password" name="password1" id="pwd1" placeholder="Password" class="fas fa-key">
                

            </div>
            
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password2" id="pwd2" placeholder="Confirm Password" class="fas fa-key">
            </div>
            <button class="btn mt-3" type="submit">Register</button>
        </form>
        
        <div class="text-center fs-6" id="error-message">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        

        <div class="text-center fs-6">
            Already have an account? <a href="{% url 'main:login' %}">Log in</a>
        </div>
    </div>
</div>

<script>
    const tooltips = document.querySelectorAll('.tt')
    tooltips.forEach( t => {
        new bootstrap.Tooltip(t)
    })

</script>

{% endblock content %}
