{% extends 'base.html' %}
{% block content %}
{%include 'navbar.html'%}
{% if not book %}
    <h1 class="text-center my-5">Sorry the title {{searched}} does not exist</h1>
    <h1 class="text-center">Please return to home page by clicking the logo</h1>
{% else %}
<div class="pt-5" style=" background: linear-gradient(to right, rgba(0,186,140,1), rgba(139,233,255,1));">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-5 gy-3">
            {% for book in books %}
                <div class="col mx-4">
                    <div class="card border border-dark shadow p-3 mb-5 rounded" style="width: 18rem; background-color: #ECECEC">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.name }}</h5>
                            {% load static %}
                            <div class="ratio ratio-1x1">
                                <img src="{{ book.imagelink }}">
                            </div>
                            <div class="row py-3">
                                <div class="col ms-4">
                                    <p class="card-text">{{ book.type }}</p>
                                </div>
                                <div class="col me-1">
                                    <p class="card-text">{{ book.author }}</p>
                                </div>
                                
                            </div>
                            <div class="row pb-3">
                                <div class="col ms-4">
                                    <button onclick = "changeBook('{{book.name}}')" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addProductModal">Add</button>
                                </div>
                                <div class="col me-2">
                                    <button onclick = "getDescription({{book.pk}})" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#descriptionModal">Description</button>
                                </div>
                            </div>
                            <div class="card-footer">
                                {% for tag in book.taggits.all %}
                                    {{ tag }}
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

<!--Add Product Modal-->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addProductModalLabel">Add New Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name" readonly></input>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="col-form-label">Status:</label>
                        <select class="form-control" id="status" name="status">
                            <option value="P">Plan to Read</option>
                            <option value="O">On Hold</option>
                            <option value="D">Dropped</option>
                            <option value="F">Finished</option>
                            <option value="R">Reading</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="last_chapter_read" class="col-form-label">Last Chapter Read:</label>
                        <input type="number" class="form-control" id="last_chapter_read" name="last_chapter_read"></input>
                    </div>
                    <div class="mb-3">
                        <label for="review" class="col-form-label">Review:</label>
                        <textarea class="form-control" id="review" name="review"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="rating" class="col-form-label">Rating:</label>
                        <input type="number" class="form-control" id="rating" name="rating"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal" >Add Entry</button>
            </div>
        </div>
    </div>
</div>

<!--Description Modal-->
<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="descriptionModalLabel">Description</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="descriptionForm" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background: linear-gradient(to right, rgba(0,186,140,1), rgba(139,233,255,1));">
    <div class="row justify-content-center">
        <ul class="pagination justify-content-center">
            {% if book.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>

            <li class="page-item"><a class="page-link" href="?page={{ book.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item disabled" style="list-style: none; text-align: center;"><a href="#" class="page-link">Page {{ book.number }} of {{ book.paginator.num_pages }}</a></li>
            {% if book.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ book.next_page_number }}">Next</a></li>

            <li class="page-item"><a class="page-link" href="?page={{ book.paginator.num_pages }}">Last &raquo</a></li>
            {% endif %}
        </ul>
    </div>
</div>
</div>
<script>
function changeBook(title){
    document.getElementById("name").value = title
}
function addEntry() {
    fetch("{% url 'main:create_catalog_entry' %}", {
        method: "POST",
        body: new FormData(document.querySelector('#form'))
    })

    document.getElementById("form").reset()
    return false
}
document.getElementById("button_add").onclick = addEntry

async function getBooks(pk) {
    const link = "get-books-by-id/"+pk
    return fetch(link).then((response) => {return response.json();})
}

async function getDescription(pk) {
    document.getElementById("descriptionForm").innerHTML = ""
    const description = await getBooks(pk)
    const data = JSON.parse(description.data)
    let htmlString = `<p>${data.description}</p>`
    document.getElementById("descriptionForm").innerHTML = htmlString
}


</script>
{% endif %}
{% endblock content %}




