{% extends 'base.html' %}
{% block content %}
{%include 'navbar.html'%}
{% if user.is_staff and user.is_superuser %}
    <body style=" background: linear-gradient(to right, rgba(0,186,140,1), rgba(139,233,255,1));">
        <div class="d-flex align-items-center justify-content-center">
            <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 80%;">
                <tbody id="userTable">
                    <th>Username</th>
                    <th>Show Their Catalog</th>
                    <th>Delete User</th>
                    {% for display in displayuser %}
                        <tr>
                            <td><p>{{display.username}}</p></td>
                            <td>
                                <a href="{% url 'main:show_entry_other' username=display.username %}">
                                <button type="button" class="btn btn-success">{{display.username}}'s Catalog</button>
                                </a>
                            </td>
                            <td>
                                {% if display.is_staff or display.is_superuser%}
                                {% else %}
                                <a href="{% url 'main:delete_user' username=display.username %}">
                                    <button type="button" class="btn btn-success" style="background-color:red">Delete User</button>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="d-flex align-items-center justify-content-center">
            <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 80%;">
                <tbody id="postsTable">
                    <th>User</th>
                    <th>Posts</th>
                    <th>Accept/Reject</th>
                    {% for post in posts %}
                        <tr>
                            <td><p>{{post.user.username}}</p></td>
                            <td>
                                {{post.tag}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" onclick = "acceptTag({{post.pk}})">Accept</button>
                                <button type="button" class="btn btn-danger" onclick="rejectTag({{post.pk}})">Reject</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
{% else %}
    <body style=" background: linear-gradient(to right, rgba(0,186,140,1), rgba(139,233,255,1));">
        <div class="d-flex align-items-center justify-content-center">
            <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 80%;">
                <tbody id="userTable">
                    <th>Username</th>
                    <th>Show Their Catalog</th>
                    {% for display in displayuser %}
                        <tr>
                            <td><p>{{display.username}}</p></td>
                            <td>
                                <a href="{% url 'main:show_entry_other' username=display.username %}">
                                <button type="button" class="btn btn-success">{{display.username}}'s Catalog</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
{% endif %}
<script>
    async function getPosts() {
        return fetch("{% url 'main:get_posts_json' %}").then((res) => res.json())
    }
    async function refreshItems() {
        document.getElementById("postsTable").innerHTML = ""
        const posts = await getPosts()
        let htmlString = `
        <th>User</th>
        <th>Posts</th>
        <th>Accept/Reject</th>`
        posts.forEach((post) => {
            htmlString += `\n<tr>
                <td><p>${post.fields.user}</p></td>
                <td>
                    ${post.fields.tag}
                </td>
                <td>
                    <button type="button" class="btn btn-success" onclick = "acceptTag(${post.pk})">Accept</button>
                    <button type="button" class="btn btn-danger" onclick="rejectTag(${post.pk})">Reject</button>
                </td>
            </tr>` 
        })
        document.getElementById("postsTable").innerHTML = htmlString
    }
    function rejectTag(id){
        fetch("/reject-tag/"+ id, {
            method: "POST",
        }).then(refreshItems)

        return false
    }
    function acceptTag(id){
        alert("called")
        fetch("/accept-tag/"+ id, {
            method: "POST",
        }).then(refreshItems)

        return false
    }
</script>
{% endblock content %}