{% extends 'base.html' %}
{% block content %}
{%include 'navbar.html'%}
{% if user.is_staff or user.is_superuser %}
    <body style=" background: linear-gradient(to right, rgba(0,186,140,1), rgba(139,233,255,1));">
        <div class="d-flex align-items-center justify-content-center">
            <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 80%;">
                <tbody id="userTable">
                    <th>Username</th>
                    <th>Show Their Catalog</th>
                    <th>Delete User</th>
                    {% for display in displayuser %}
                        <tr>
                            <td><p>{{display.username}}</p></td>
                            <td>
                                <a href="{% url 'main:show_entry_other' username=display.username %}">
                                <button type="button" class="btn btn-success">{{display.username}}'s Catalog</button>
                                </a>
                            </td>
                            <td>
                                {% if user.is_superuser and not display.is_superuser %}
                                <a href="{% url 'main:delete_user' username=display.username %}">
                                    <button type="button" class="btn btn-success" style="background-color:red">Delete User</button>
                                </a>
                                {% if display.is_staff %}
                                <a href="{% url 'main:revoke_admin' username=display.username %}">
                                    <button type="button" class="btn btn-primary">Revoke Admin</button>
                                </a>
                                {% else %}
                                <a href="{% url 'main:make_admin' username=display.username %}">
                                    <button type="button" class="btn btn-primary" >Make Admin</button>
                                </a>
                                {% endif %}
                                {% elif display.is_staff or display.is_superuser%}
                                {% else %}
                                <a href="{% url 'main:delete_user' username=display.username %}">
                                    <button type="button" class="btn btn-success" style="background-color:red">Delete User</button>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="d-flex align-items-center justify-content-center">
            <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 80%;">
                <tbody id="postsTable">
                    <th>User</th>
                    <th>Posts</th>
                    <th>Accept/Reject</th>
                    {% for post in posts %}
                        <tr>
                            <td><p>{{post.user.username}}</p></td>
                            <td>
                                {{post.tag}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" onclick = "acceptTag({{post.pk}})">Accept</button>
                                <button type="button" class="btn btn-danger" onclick="rejectTag({{post.pk}})">Reject</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-flex align-items-center justify-content-center">
            <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 80%;">
                <tbody id="bookPostsTable">
                    <th>User</th>
                    <th>Book Posts</th>
                    <th>Accept/Reject</th>
                    {% for bookPost in bookPosts %}
                        <tr>
                            <td><p>{{bookPost.user.username}}</p></td>
                            <td>
                                <button class="btn" style="background-color: #FF4FCE; color: white;" onclick="showBookPosts({{ bookPost.pk }})" data-bs-toggle="modal" data-bs-target="#entryModal" role="button">{{bookPost.name}}</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" onclick = "acceptBook({{bookPost.pk}})">Accept</button>
                                <button type="button" class="btn btn-danger" onclick="rejectBook({{bookPost.pk}})">Reject</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="entryModal" tabindex="-1" aria-labelledby="entryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div id="bookView"></div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>


{% else %}
    <body style=" background: linear-gradient(to right, rgba(0,186,140,1), rgba(139,233,255,1));">
        <div class="d-flex align-items-center justify-content-center">
            <table class="table table-bordered table-striped table-hover mt-5 text-center" style="width: 80%;">
                <tbody id="userTable">
                    <th>Username</th>
                    <th>Show Their Catalog</th>
                    {% for display in displayuser %}
                        <tr>
                            <td><p>{{display.username}}</p></td>
                            <td>
                                <a href="{% url 'main:show_entry_other' username=display.username %}">
                                <button type="button" class="btn btn-success">{{display.username}}'s Catalog</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
{% endif %}
<script>
    async function getPosts() {
        return fetch("{% url 'main:get_posts_json' %}").then((res) => res.json())
    }
    async function refreshItems() {
        document.getElementById("postsTable").innerHTML = ""
        const posts = await getPosts()
        let htmlString = `
        <th>User</th>
        <th>Posts</th>
        <th>Accept/Reject</th>`
        posts.forEach((post) => {
            htmlString += `\n<tr>
                <td><p>${post.fields.user}</p></td>
                <td>
                    ${post.fields.tag}
                </td>
                <td>
                    <button type="button" class="btn btn-success" onclick = "acceptTag(${post.pk})">Accept</button>
                    <button type="button" class="btn btn-danger" onclick="rejectTag(${post.pk})">Reject</button>
                </td>
            </tr>` 
        })
        document.getElementById("postsTable").innerHTML = htmlString
    }


    function rejectTag(id){
        fetch("/reject-tag/"+ id, {
            method: "POST",
        }).then(refreshItems)

        return false
    }
    function acceptTag(id){
        fetch("/accept-tag/"+ id, {
            method: "POST",
        }).then(refreshItems)

        return false
    }

    function acceptBook(id){
        fetch("/accept-book/"+ id, {
            method: "POST",
        }).then(refreshBooks)

        return false
    }

    function rejectBook(id){
        fetch("/reject-book/"+ id, {
            method: "POST",
        }).then(refreshBooks)

        return false
    }

    async function getBookPosts(pk) {
        return fetch("/get-book-post/"+ pk ).then((res) => res.json())
    }

    async function getBookPosts1() {
        return fetch("/get-bookpost/").then((res) => res.json())
    }

    async function refreshBooks() {
        document.getElementById("bookPostsTable").innerHTML = ""
        const bookPosts = await getBookPosts1()
        let htmlString = `
        <th>User</th>
        <th>Posts</th>
        <th>Accept/Reject</th>`
        bookPosts.forEach((bookPost) => {
            htmlString += `\n<tr>
                <td><p>${bookPost.fields.user}</p></td>
                <td>
                    <button class="btn" style="background-color: #FF4FCE; color: white;" onclick="showBookPosts(${bookPost.pk})" data-bs-toggle="modal" data-bs-target="#entryModal" role="button">${bookPost.fields.name}</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success" onclick = "acceptBook(${bookPost.pk})">Accept</button>
                    <button type="button" class="btn btn-danger" onclick="rejectBook(${bookPost.pk})">Reject</button>
                </td>
            </tr>` 
        })
        document.getElementById("bookPostsTable").innerHTML = htmlString
    }

    async function showBookPosts(pk) {
        document.getElementById("bookView").innerHTML = "";
        const bookPost = await getBookPosts(pk);
        const data = JSON.parse(bookPost.data)
        let htmlString = `
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="entryModalLabel">${data.name}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal_body" value="${data.pk}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <img src="${data.imagelink}">
                            <p>${data.description}</p>
                        </div>
                    <div class="col-lg">
                        <div class="mb-3">
                            <label for="show_author" class="col-label">Author:</label>
                            <p id ="show_author" name = "show_author">${data.author}</p>
                            <label for="show_type" class="col-label">Type:</label>
                            <p id ="show_type" name = "show_type">${data.type}</p>
                        </div>
                    <div class="mb-3">
                        <label for="show_tags" class="col-form-label">Tags:</label>
                        <div id = "show_tags">`
                        data.taggits.forEach((tag) => {htmlString+= `<span>${tag} </span>` }) 
                        htmlString +=`
                    </div>
                        </div>
                    </div>
                </div>`;
        document.getElementById("bookView").innerHTML = htmlString;
    }

</script>
{% endblock content %}